In [3]:
import pandas as pd
import plotly.express as px
import datasets

In [6]:
# load zero-shot direct prompt datasets (baseline)

ZERO_SHOT_EXPERIMENTS = [
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_zero_shot_direct_1699902139",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_zero_shot_direct_1699889432",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_zero_shot_direct_1699844874",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_zero_shot_direct_1699828513",
]

ZERO_SHOT_DATASETS = []

for i, path in enumerate(ZERO_SHOT_EXPERIMENTS):
    ds = datasets.load_from_disk(path).with_format("pandas")
    df = pd.DataFrame(ds["zero_shot_direct__accuracy"])
    df["experiment_num"] = i
    ZERO_SHOT_DATASETS.append(df)


ZERO_SHOT_DF = pd.concat(ZERO_SHOT_DATASETS).groupby(["experiment_num", "zero_shot_direct__accuracy"]).value_counts()
# ZERO_SHOT_DATASETS
print(ZERO_SHOT_DF)
fig = px.bar(ZERO_SHOT_DF, x="experiment_num", y="count", color="zero_shot_direct__accuracy")
fig.show()

experiment_num  zero_shot_direct__accuracy
0               False                         970
                True                          349
1               False                         995
                True                          324
2               False                         979
                True                          340
3               False                         980
                True                          339
Name: count, dtype: int64

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['count'] but received: experiment_num

In [9]:
ZERO_SHOT_DF

experiment_num  zero_shot_direct__accuracy
0               False                         970
                True                          349
1               False                         995
                True                          324
2               False                         979
                True                          340
3               False                         980
                True                          339
Name: count, dtype: int64

In [12]:
# ZERO_SHOT_DF.pivot(index="experiment_num", columns=["zero_shot_direct__accuracy"])
pd.DataFrame(
    ZERO_SHOT_DF, columns=["experiment_num", "zero_shot_direct__accuracy", "count"]
)  # .pivot(index="experiment_num", columns=["zero_shot_direct__accuracy"])

                                           count
experiment_num zero_shot_direct__accuracy
0              False                         970
               True                          349
1              False                         995
               True                          324
2              False                         979
               True                          340
3              False                         980
               True                          339

In [14]:
ds = datasets.load_from_disk(ZERO_SHOT_EXPERIMENTS[0])

ds[0]

{'question': "Janet’s ducks lay 16 eggs per day. She eats three for breakfast every morning and bakes muffins for her friends every day with four. She sells the remainder at the farmers' market daily for $2 per fresh duck egg. How much in dollars does she make every day at the farmers' market?",
 'answer': 'Janet sells 16 - 3 - 4 = <<16-3-4=9>>9 duck eggs a day.\nShe makes 9 * 2 = $<<9*2=18>>18 every day at the farmer’s market.\n#### 18',
 'zero_shot_direct': " To calculate how much Janet makes at the farmers' market, we need to multiply the number of eggs she has left after she eats three and bakes muffins by the selling price of $2 per egg.\n\nLet's do this step by step:\n\n1. Number of eggs left after eating 3 eggs for breakfast and baking muffins = 16 - 3 - 4 = 9 eggs\n2. Total number of eggs sold at the farmers' market = 9 eggs\n3. Selling price of each egg = $2\n4. Total amount of money Janet makes at the farmers' market = 9 eggs x $2 per egg = $18\n\nTherefore, Janet makes $18 at the farmers' market every day.",
 'zero_shot_direct__accuracy': True}

In [4]:
ZERO_SHOT_DF

   experiment_num  zero_shot_direct__accuracy  count
0               0                       False    970
1               0                        True    349
2               1                       False    995
3               1                        True    324
4               2                       False    979
5               2                        True    340
6               3                       False    980
7               3                        True    339

In [5]:
# load zero-shot cot

ZERO_SHOT_COT_EXPERIMENTS = [
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_few_shot_auto_cot_num_examples=0_1699981575",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_few_shot_auto_cot_num_examples=0_1699940749",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_few_shot_auto_cot_num_examples=0_1699938071",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_few_shot_auto_cot_num_examples=0_1699986571",
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_few_shot_auto_cot_num_examples=0_1699991315",
]

ONE_SHOT_COT_EXPERIMENTS = [
    "/mnt/spindle/stanford-ssg-research/.cache/experiments/gsm8k_meta-llama/Llama-2-7b-chat-hf_few_shot_auto_cot_num_examples=1_1700007401",
]

In [6]:
# load n-shot cot

In [7]:
# load 2x n-shot cot